<div class="display-block col-xs-12 col-md-10 col-lg-6 mx-auto bg-light">
   <div class="border-top border-bottom text-center">
   	<div>
   	<img src = "<%= "/#{@user.user_image}" %>" class="shop-pic">
	</div>
	<h3 class="mt-3">
	<%= @user.name %>
	</h3>
	<div>
		<h3>お気に入り店舗</h3>
	</div>

</div>
</div>