<div class="top-bg text-center">
<h1 class="top-title font-weight-bold text-light">今日行くワークスペースを探そう</h1>
<p class="top-sub-title text-light">お気に入りの作業スペースをNomapで見つけて、作業効率アップ</p>
	<form class="top-search form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="【例】渋谷・新宿" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
    </form>
</div>
<p class="text-right mr-5">Copyright (c) Hiroki Anzai All Rights Reserved. </p>